@model IEnumerable<SportClass>

<h2>Available Classes</h2>
@if (ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"])
{
    <a href="@Url.Action("AddSportClass", "Admin")" class="btn btn-primary">Add Class</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Available Slots</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sportClass in Model)
        {
            var userReservations = ViewData["UserReservations"] as List<int>;
            var userReservations2 = @ViewBag.UserReservations;
            bool isReserved = userReservations != null && userReservations.Contains(sportClass.Id);
            bool isReserved2 = userReservations2 != null && userReservations2.Contains(sportClass.Id);
            <tr>
                <td>@sportClass.Name</td>
                <td>@sportClass.Date.ToShortDateString()</td>
                <td>@sportClass.StartTime</td>
                <td>@sportClass.Duration</td>
                <td>@(sportClass.Capacity - sportClass.Reserved) / @sportClass.Capacity</td>
                <td>

                    @if (ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"])
                    {
                        <a href="@Url.Action("reservationList", "Admin", new { id = sportClass.Id })">See reservations</a>
                        <a asp-action="Edit" asp-route-id="@sportClass.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@sportClass.Id" > Delete </a>
                    }                    
                    else if(isReserved){
                            <span class="text-success">You are already registered</span>
                    }
                    else if (sportClass.Reserved < sportClass.Capacity)
                    {
                        <form asp-action="Reserve" method="post">
                            <input type="hidden" name="id" value="@sportClass.Id" />
                            <button type="submit" class="btn btn-primary">Reserve</button>
                        </form>
                    }
                    else
                    {
                        <span class="text-danger">Full</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
