@model UserReservationsViewModel

@{
    ViewData["Title"] = "Welcome";
}

@* <h2>Welcome, @Model..User.Username!</h2> *@

<p>Here you can manage your reservations:</p>

@if (!Model.Reservations.Any())
{
    <p>You have no reservations yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Date</th>
                <th>Class ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.SportClassName</td>
                    <td>@reservation.SportClassDate.ToShortDateString()</td>
                    <td>@reservation.SportClassId</td>
                    <td>                        
                        <a href="@Url.Action("Details", "Reservations", new { id = reservation.Id })">Details</a> |
                        <a href="@Url.Action("Cancel", "Reservations", new { id = reservation.Id })">Cancel</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

